[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "fastapi>=0.120.4",
    "langchain>=1.0.3",
    "langchain-openai>=1.0.1",
    "metorial>=1.0.11",
    "python-dotenv>=1.2.1",
]
